* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

h1,
h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#99e2d0), color-stop(#ff79da), to(#9356dc));
  background: linear-gradient(#ffffff, #99e2d0, #ff79da, #9356dc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  -webkit-animation: loader 4s ease;
          animation: loader 4s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.lettre {
  font-family: Shrikhand;
  color: black;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes card-animation {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes card-animation {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  99% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  100% {
    opacity: 0;
    -webkit-transition: ease;
    transition: ease;
    z-index: -9999;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  99% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  100% {
    opacity: 0;
    -webkit-transition: ease;
    transition: ease;
    z-index: -9999;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #000000;
    text-shadow: 0 0 7px #000000;
  }
  90% {
    color: #414141;
    text-shadow: none;
  }
  100% {
    color: #9b9b9b;
    text-shadow: 0 0 7px #9b9b9b;
  }
}

@keyframes flash {
  0% {
    color: #000000;
    text-shadow: 0 0 7px #000000;
  }
  90% {
    color: #414141;
    text-shadow: none;
  }
  100% {
    color: #9b9b9b;
    text-shadow: 0 0 7px #9b9b9b;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.restaurant-button:hover {
  opacity: 0.7;
}

.heart-content:hover .fav-heart {
  opacity: 0;
}

.heart-content:hover .fav-heartfull {
  opacity: 1;
}

header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  background-color: #99e2d0;
  opacity: 0.7;
}

#my-booking {
  background-color: #99e2d0;
}

.restaurant-container {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurant-content {
  position: relative;
  margin: 15px 20px;
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 7px #afaeae;
          box-shadow: 0 0 7px #afaeae;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.restaurant-content img {
  width: 300px;
  height: 211px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container {
  margin: auto;
  max-width: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-header img {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 15px;
}

.booking {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking h2 {
  font-weight: bold;
  font-size: x-large;
  margin-top: 30px;
  text-align: center;
}

.booking p {
  padding: 15px 0 0 30px;
  margin: 15px 0;
  text-align: center;
}

.restaurant-button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  width: 200px;
  padding: 15px 10px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d579d5), to(#9356dc));
  background: linear-gradient(#d579d5, #9356dc);
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.restaurant-button a {
  text-decoration: none;
  color: white;
}

.operation {
  width: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.operation-container h3 {
  margin: 50px 0 30px 0;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.restaurant-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.restaurant-content {
  margin: 15px 20px;
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 7px #afaeae;
          box-shadow: 0 0 7px #afaeae;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.label-new {
  position: absolute;
  right: 25px;
  top: 18px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3d3d3d;
}

.restaurant-content img {
  width: 300px;
  height: 211px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container a .card-list:hover {
  background-color: #ebebff;
}

.card-container a .card-list:hover i {
  color: #9356dc;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -40px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
  width: auto;
}

.card-list p {
  color: black;
}

.fas {
  color: #797979;
  padding: 0 10px;
}

.fav-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fav-restaurant h4 {
  font-weight: bold;
  padding: 3px 0 0 9px;
}

.heart-content:hover .fav-heart {
  opacity: 0;
}

.heart-content:hover .fav-heartfull {
  opacity: 1;
}

.fav-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 4%;
}

.fav-heartfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  right: 1%;
}

.fav-heartfull:hover {
  opacity: 1;
}

.fav-heartfull:hover :before {
  color: transparent;
  border: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(146, 86, 220, 0.7)), to(rgba(255, 121, 218, 0.7)));
  background-image: linear-gradient(180deg, rgba(146, 86, 220, 0.7), rgba(255, 121, 218, 0.7));
}

.fav-container {
  height: 46px;
  position: relative;
  text-decoration: none;
  color: black;
}

.fav-text p {
  padding: 0 0 5px 9px;
  font-size: small;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 534px) {
  .loader .lettre {
    font-size: 35px;
  }
}

@media screen and (max-width: 899px) {
  .main-container {
    width: 100%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .operation {
    width: 100%;
    margin: auto;
  }
  .operation-container h3 {
    padding-left: 30px;
  }
  .card-holder {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .card-list {
    width: auto;
  }
  .card-container {
    width: 100%;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .circle {
    left: 58px;
    position: absolute;
  }
  .restaurant-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  .restaurant-content {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
  }
  .restaurant-content img {
    width: 100%;
  }
  .restaurant-content img a {
    text-decoration: none;
  }
}

footer {
  width: 100%;
}

.footer-container {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  width: 1280px;
}

.footer-logo img {
  width: 130px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding: 30px 0 25px 40px;
}

.footer .fas {
  color: white;
}

.footer-text {
  margin-left: 40px;
  list-style-type: none;
  padding-bottom: 10px;
}

.footer-text a {
  color: white;
}

.footer-text a i {
  color: white;
  padding-left: 0px;
}
/*# sourceMappingURL=main.css.map */