* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

h1,
h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

.restaurant-button:hover {
  opacity: 0.7;
}

@-webkit-keyframes card-animation {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes card-animation {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  99% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  100% {
    opacity: 0;
    -webkit-transition: ease;
    transition: ease;
    z-index: -9999;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  99% {
    opacity: 1;
    z-index: 9999;
    cursor: wait;
  }
  100% {
    opacity: 0;
    -webkit-transition: ease;
    transition: ease;
    z-index: -9999;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #000000;
    text-shadow: 0 0 7px #000000;
  }
  90% {
    color: #414141;
    text-shadow: none;
  }
  100% {
    color: #9b9b9b;
    text-shadow: 0 0 7px #9b9b9b;
  }
}

@keyframes flash {
  0% {
    color: #000000;
    text-shadow: 0 0 7px #000000;
  }
  90% {
    color: #414141;
    text-shadow: none;
  }
  100% {
    color: #9b9b9b;
    text-shadow: 0 0 7px #9b9b9b;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#delay-1 {
  -webkit-animation: card-animation 2s 0.1s ease-in-out forwards;
          animation: card-animation 2s 0.1s ease-in-out forwards;
}

#delay-2 {
  -webkit-animation: card-animation 2s 0.2s ease-in-out forwards;
          animation: card-animation 2s 0.2s ease-in-out forwards;
}

#delay-3 {
  -webkit-animation: card-animation 2s 0.3s ease-in-out forwards;
          animation: card-animation 2s 0.3s ease-in-out forwards;
}

#delay-4 {
  -webkit-animation: card-animation 2s 0.4s ease-in-out forwards;
          animation: card-animation 2s 0.4s ease-in-out forwards;
}

#delay-5 {
  -webkit-animation: card-animation 2s 0.5s ease-in-out forwards;
          animation: card-animation 2s 0.5s ease-in-out forwards;
}

#delay-6 {
  -webkit-animation: card-animation 2s 0.6s ease-in-out forwards;
          animation: card-animation 2s 0.6s ease-in-out forwards;
}

#delay-7 {
  -webkit-animation: card-animation 2s 0.7s ease-in-out forwards;
          animation: card-animation 2s 0.7s ease-in-out forwards;
}

#delay-8 {
  -webkit-animation: card-animation 2s 0.8s ease-in-out forwards;
          animation: card-animation 2s 0.8s ease-in-out forwards;
}

#delay-9 {
  -webkit-animation: card-animation 2s 0.9s ease-in-out forwards;
          animation: card-animation 2s 0.9s ease-in-out forwards;
}

#delay-10 {
  -webkit-animation: card-animation 2s 1s ease-in-out forwards;
          animation: card-animation 2s 1s ease-in-out forwards;
}

.dish-content:hover .dish-price {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  padding-right: 50px;
}

.dish-content:hover .dish-select {
  -webkit-animation: slide 700ms ease both;
          animation: slide 700ms ease both;
}

.dish-content:hover .icon-select {
  -webkit-animation: rotate 0.5s ease-in-out both;
          animation: rotate 0.5s ease-in-out both;
}

footer {
  width: 100%;
}

.footer-container {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  width: 1280px;
}

.footer-logo img {
  width: 130px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding: 30px 0 25px 40px;
}

.footer .fas {
  color: white;
}

.footer-text {
  margin-left: 40px;
  list-style-type: none;
  padding-bottom: 10px;
}

.footer-text a {
  color: white;
}

.footer-text a i {
  color: white;
  padding-left: 0px;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 200px;
}

.arrow {
  padding-left: 20px;
}

.arrow a i {
  text-decoration: none;
  color: black;
}

.img-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu-container {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -50px;
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-title h1 {
  font-size: x-large;
  font-weight: bold;
  padding: 10px 0 10px 20px;
}

.heart-content:hover .fav-heart {
  opacity: 0;
}

.heart-content:hover .fav-heartfull {
  opacity: 1;
}

.fav-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 4%;
  z-index: 5;
  -webkit-animation: fade-out 100ms ease-out forwards;
          animation: fade-out 100ms ease-out forwards;
}

.fav-heartfull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  right: 4%;
  z-index: 5;
}

.fav-heartfull:hover {
  opacity: 1;
}

.fav-heartfull:hover :before {
  color: transparent;
  border: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(146, 86, 220, 0.7)), to(rgba(255, 121, 218, 0.7)));
  background-image: linear-gradient(180deg, rgba(146, 86, 220, 0.7), rgba(255, 121, 218, 0.7));
}

.menu-type h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}

.under-line {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px;
}

.dish-content {
  width: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  opacity: 0;
  position: relative;
}

.dish-title h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0 0p x 10px;
}

.dish-text p {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.dish-text span {
  font-weight: bold;
  padding-left: 15px;
}

.dish-group {
  text-overflow: ellipsis;
}

.dish-price {
  display: block;
}

.dish-select {
  background-color: #99e2d0;
  -ms-flex-item-align: center;
      align-self: center;
  height: 58px;
  width: 60px;
  margin-bottom: 21px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: absolute;
  opacity: 0;
  right: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-select {
  color: white;
  font-size: 20px;
}

.restaurant-button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  width: 200px;
  padding: 15px 10px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d579d5), to(#9356dc));
  background: linear-gradient(#d579d5, #9356dc);
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
}

.restaurant-button a {
  text-decoration: none;
  color: white;
}

.footer-container {
  margin-top: 30px;
}

@media screen and (min-width: 1030px) {
  .img-restaurant img {
    height: 310px;
    width: 100%;
  }
  .menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
  }
  .menu-container {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1280px;
  }
  .menu-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    margin-top: -50px;
  }
  .menu-type li {
    list-style-type: none;
  }
  .dish-content {
    width: 342px;
  }
}
/*# sourceMappingURL=page.css.map */
