@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* color primaire #9356DC secondaire #FF79DA terciaire #99E2D0 */

/* font awsome logo

mobile-alt <i class="fas fa-mobile-alt"></i>

list-ul <i class="fas fa-list-ul"></i>

store <i class="fas fa-store"></i>

heart <i class="far fa-heart"></i>

check-circle <i class="far fa-check-circle"></i>

arrow-left <i class="fas fa-arrow-left"></i>

utensils <i class="fas fa-utensils"></i>

hands-helping <i class="fas fa-hands-helping"></i>

*/

* {
  margin: 0;
  padding: 0;
}

.logo,
.search-bar {
  display: block;
  justify-content: center;
}

.logo {
  justify-content: center;
}

.search-bar {
  justify-content: center;
}
.restaurant-button {
  justify-content: center;
}

/* restaurant section */

.restaurant-content {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 7px #afaeae;
  box-sizing: border-box;
  overflow: hidden;
}

.restaurant-content img {
  width: 335px;
  height: 211px;
  object-fit: cover;
}
