@import "./Base/reset";
@import "./Base/typography";
@import "./Themes/footer";
@import "./Composants/button-restaurants";
@import "./Composants/card-animation";
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.logo img {
  width: 200px;
}

.arrow {
  a {
    i {
      text-decoration: none;
      color: black;
    }
  }
}
.img-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu-container {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -50px;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0 10px 10px;
  }
}

.menu-type h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}

.under-line {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px;
}

.dish-content {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #aaa;
}

.dish-title h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 0 0px 10px;
}

.dish-text {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 5px 10px;
  font-size: 0.9rem;
  span {
    font-weight: bold;
    padding-right: 10px;
  }
}

.fav-heart {
  display: flex;
  position: absolute;
  right: 4%;
}

.fav-heart:hover {
  opacity: 0;
}

.fav-heartfull {
  display: flex;
  opacity: 0;
  position: absolute;
  right: 4%;
}

.fav-heartfull:hover {
  opacity: 1;
  color: red;
}

.footer-container {
  margin-top: 30px;
}
