// .fade-in-up {
//   animation: card-animation 2s linear;
// }

@keyframes card-animation {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#delay-1 {
  animation: card-animation 2s 0.1s ease-in-out forwards;
}
#delay-2 {
  animation: card-animation 2s 0.2s ease-in-out forwards;
}
#delay-3 {
  animation: card-animation 2s 0.3s ease-in-out forwards;
}
#delay-4 {
  animation: card-animation 2s 0.4s ease-in-out forwards;
}
#delay-5 {
  animation: card-animation 2s 0.5s ease-in-out forwards;
}
#delay-6 {
  animation: card-animation 2s 0.6s ease-in-out forwards;
}
#delay-7 {
  animation: card-animation 2s 0.7s ease-in-out forwards;
}
#delay-8 {
  animation: card-animation 2s 0.8s ease-in-out forwards;
}
#delay-9 {
  animation: card-animation 2s 0.9s ease-in-out forwards;
}
#delay-10 {
  animation: card-animation 2s 1s ease-in-out forwards;
}
