.dish-content:hover .dish-price {
  transition: 400ms ease-in-out;
  padding-right: 50px;
}

.dish-content:hover .dish-select {
  animation: slide 700ms ease both;
}

.dish-content:hover .icon-select {
  animation: rotate 0.5s ease-in-out both;
}
